ckpts/
Diffusion-Planner-E2E-main/
download/
exp/


logs/*
*/.vscode/*
*/.git/*
exp/*
.vscode
__pycache__/
*.egg-info/
ckpt/
image*
exp/
cache/
checkpoints/
viz_test
outputs/

tmp
test.py
wandb
# *.json

navsim-exp
env.local.sh